.weather-board {
    min-width: 500px;
    min-height: 400px;
    width: 50vw;
    height: 70vh;
}

.weather-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.weather-search input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.weather-search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}