.weather-board {
    width: 450px;
    height: 400px;
}

.weather-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.weather-search input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.weather-search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.weather-info {
    text-align: center;
}

.weather-info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.weather-info-city {
    font-size: 28px;
    margin: 0;
}

.weather-info-img-container {
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 30%;
    width: 60px;
    height: 60px;
}

.weather-info-img {
    width: 100%;
    height: 100%;
}

.stat-weather-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.main-weather-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-temp,
.weather-feels-like,
.weather-humidity,
.pressure,
.weather-main,
.weather-wind-speed {
    font-size: 18px;
}

.weather-error {
    color: red;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
}

.crypto-board {
    width: 450px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.crypto-board-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.crypto-item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-board {
    width: 450px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.todo-form {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.todo-add-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.todo-list {
    flex: 1;
    overflow-y: auto;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.completed-todo {
    text-decoration: line-through;
    color: gray;
}

.todo-actions {
    display: flex;
    gap: 10px;
}

.todo-complete-btn,
.todo-delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

