@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

header {
    justify-self: center;
    width: 360px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./media/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    transform: scale(1.05);
    z-index: -1;
}

.dashboard {
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media (max-width: 767px) {
    header {
        width: 80%;
        font-size: 14px;
    }
}

/* Landscape phone */
@media (max-width: 896px) and (orientation: landscape) {
    header {
        width: 250px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .main-container {
        padding: 5px;
    }

    .dashboard {
        width: 98%;
        max-height: 90vh;
        padding: 10px;
        overflow-y: auto;
    }
}

@media (min-width: 480px) {
    .dashboard {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dashboard-element {
        margin: 10px;
    }

    
}